Source: volclava
Section: misc
Priority: optional
Maintainer: Mingze Li <limingze.jiayou@bytedance.com>; Guangbo Shu <shuguangbo@bytedance.com>
Build-Depends: autoconf, automake, tcl-dev, libncurses-dev
Standards-Version: 1.0-1
Homepage:

Package: volclava
Architecture: any
Depends: tcl-dev, libncurses-dev
Description: volclava 1.0 for Ubuntu/Debian