Source: openlava
Section: misc
Priority: optional
Maintainer: Mingze Li <limingze.jiayou@bytedance.com>; Guangbo Shu <shuguangbo@bytedance.com>
Build-Depends: autoconf, automake, tcl-dev, libncurses-dev
Standards-Version: 2.0-1
Homepage:

Package: openlava
Architecture: any
Depends: tcl-dev, libncurses-dev
Description: openlava 2.0 for Ubuntu/Debian