#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	echo override_dh_auto_configure

override_dh_auto_build:
	./bootstrap.sh
	./configure
	$(MAKE) -j$(nproc)

override_dh_auto_install:
	dh_auto_install

	# install directories and files
	install -d debian/openlava/opt/openlava-2.0/bin
	install -d debian/openlava/opt/openlava-2.0/etc
	install -d debian/openlava/opt/openlava-2.0/include
	install -d debian/openlava/opt/openlava-2.0/lib
	install -d debian/openlava/opt/openlava-2.0/log
	install -d debian/openlava/opt/openlava-2.0/sbin
	install -d debian/openlava/opt/openlava-2.0/share/man/man1
	install -d debian/openlava/opt/openlava-2.0/share/man/man3
	install -d debian/openlava/opt/openlava-2.0/share/man/man5
	install -d debian/openlava/opt/openlava-2.0/share/man/man8
	install -d debian/openlava/opt/openlava-2.0/work/logdir

	# bin
	install -m 755 lsbatch/cmd/badmin      debian/openlava/opt/openlava-2.0/bin
	install -m 755 lsbatch/cmd/bbot        debian/openlava/opt/openlava-2.0/bin
	install -m 755 lsbatch/bhist/bhist     debian/openlava/opt/openlava-2.0/bin
	install -m 755 lsbatch/cmd/bhosts      debian/openlava/opt/openlava-2.0/bin
	install -m 755 lsbatch/cmd/bjobs       debian/openlava/opt/openlava-2.0/bin
	install -m 755 lsbatch/cmd/bkill       debian/openlava/opt/openlava-2.0/bin
	install -m 755 lsbatch/cmd/bmgroup     debian/openlava/opt/openlava-2.0/bin
	install -m 755 lsbatch/cmd/bmig        debian/openlava/opt/openlava-2.0/bin
	install -m 755 lsbatch/cmd/bmod        debian/openlava/opt/openlava-2.0/bin
	install -m 755 lsbatch/cmd/bparams     debian/openlava/opt/openlava-2.0/bin
	install -m 755 lsbatch/cmd/bpeek       debian/openlava/opt/openlava-2.0/bin
	install -m 755 lsbatch/cmd/bqueues     debian/openlava/opt/openlava-2.0/bin
	install -m 755 lsbatch/cmd/brequeue    debian/openlava/opt/openlava-2.0/bin
	install -m 755 lsbatch/cmd/brestart    debian/openlava/opt/openlava-2.0/bin
	install -m 755 lsbatch/cmd/brun        debian/openlava/opt/openlava-2.0/bin
	install -m 755 lsbatch/cmd/bsub        debian/openlava/opt/openlava-2.0/bin
	install -m 755 lsbatch/cmd/bswitch     debian/openlava/opt/openlava-2.0/bin
	install -m 755 lsbatch/cmd/btop        debian/openlava/opt/openlava-2.0/bin
	install -m 755 lsbatch/cmd/busers      debian/openlava/opt/openlava-2.0/bin
	install -m 755 scripts/lam-mpirun      debian/openlava/opt/openlava-2.0/bin
	install -m 755 lsf/lstools/lsacct      debian/openlava/opt/openlava-2.0/bin
	install -m 755 lsf/lsadm/lsadmin       debian/openlava/opt/openlava-2.0/bin
	install -m 755 lsf/lstools/lseligible  debian/openlava/opt/openlava-2.0/bin
	install -m 755 lsf/lstools/lshosts     debian/openlava/opt/openlava-2.0/bin
	install -m 755 lsf/lstools/lsid        debian/openlava/opt/openlava-2.0/bin
	install -m 755 lsf/lstools/lsinfo      debian/openlava/opt/openlava-2.0/bin
	install -m 755 lsf/lstools/lsload      debian/openlava/opt/openlava-2.0/bin
	install -m 755 lsf/lstools/lsloadadj   debian/openlava/opt/openlava-2.0/bin
	install -m 755 lsf/lstools/lsmon       debian/openlava/opt/openlava-2.0/bin
	install -m 755 lsf/lstools/lsplace     debian/openlava/opt/openlava-2.0/bin
	install -m 755 lsf/lstools/lsrcp		debian/openlava/opt/openlava-2.0/bin
	install -m 755 scripts/mpich2-mpiexec	debian/openlava/opt/openlava-2.0/bin
	install -m 755 scripts/mpich-mpirun		debian/openlava/opt/openlava-2.0/bin
	install -m 755 scripts/openmpi-mpirun	debian/openlava/opt/openlava-2.0/bin

	# sbin
	install -m 755 eauth/eauth             debian/openlava/opt/openlava-2.0/sbin
	install -m 755 lsf/lim/lim             debian/openlava/opt/openlava-2.0/sbin
	install -m 755 lsbatch/daemons/mbatchd debian/openlava/opt/openlava-2.0/sbin
	install -m 755 lsf/res/nios            debian/openlava/opt/openlava-2.0/sbin
	install -m 755 lsf/pim/pim             debian/openlava/opt/openlava-2.0/sbin
	install -m 755 lsf/res/res             debian/openlava/opt/openlava-2.0/sbin
	install -m 755 lsbatch/daemons/sbatchd debian/openlava/opt/openlava-2.0/sbin
	install -m 755 chkpnt/echkpnt          debian/openlava/opt/openlava-2.0/sbin
	install -m 755 chkpnt/erestart         debian/openlava/opt/openlava-2.0/sbin

	# share
	install	-m	644	lsbatch/man1/bbot.1				debian/openlava/opt/openlava-2.0/share/man/man1
	install	-m	644	lsbatch/man1/bchkpnt.1			debian/openlava/opt/openlava-2.0/share/man/man1
	install	-m	644	lsbatch/man1/bhosts.1			debian/openlava/opt/openlava-2.0/share/man/man1
	install	-m	644	lsbatch/man1/bjobs.1			debian/openlava/opt/openlava-2.0/share/man/man1
	install	-m	644	lsbatch/man1/bkill.1			debian/openlava/opt/openlava-2.0/share/man/man1
	install	-m	644	lsbatch/man1/bmgroup.1			debian/openlava/opt/openlava-2.0/share/man/man1
	install	-m	644	lsbatch/man1/bmig.1				debian/openlava/opt/openlava-2.0/share/man/man1
	install	-m	644	lsbatch/man1/bmod.1				debian/openlava/opt/openlava-2.0/share/man/man1
	install	-m	644	lsbatch/man1/bparams.1			debian/openlava/opt/openlava-2.0/share/man/man1
	install	-m	644	lsbatch/man1/bpeek.1			debian/openlava/opt/openlava-2.0/share/man/man1
	install	-m	644	lsbatch/man1/bqueues.1			debian/openlava/opt/openlava-2.0/share/man/man1
	install	-m	644	lsbatch/man1/brequeue.1			debian/openlava/opt/openlava-2.0/share/man/man1
	install	-m	644	lsbatch/man1/brestart.1			debian/openlava/opt/openlava-2.0/share/man/man1
	install	-m	644	lsbatch/man1/bresume.1			debian/openlava/opt/openlava-2.0/share/man/man1
	install	-m	644	lsbatch/man1/bstop.1			debian/openlava/opt/openlava-2.0/share/man/man1
	install	-m	644	lsbatch/man1/bsub.1				debian/openlava/opt/openlava-2.0/share/man/man1
	install	-m	644	lsbatch/man1/btop.1				debian/openlava/opt/openlava-2.0/share/man/man1
	install	-m	644	lsbatch/man1/bugroup.1			debian/openlava/opt/openlava-2.0/share/man/man1
	install	-m	644	lsbatch/man1/busers.1			debian/openlava/opt/openlava-2.0/share/man/man1
	install	-m	644	lsbatch/man1/bswitch.1			debian/openlava/opt/openlava-2.0/share/man/man1
	install	-m	644	lsf/man/man1/lsacct.1			debian/openlava/opt/openlava-2.0/share/man/man1
	install	-m	644	lsf/man/man1/lseligible.1		debian/openlava/opt/openlava-2.0/share/man/man1
	install	-m	644	lsf/man/man1/lsfbase.1			debian/openlava/opt/openlava-2.0/share/man/man1
	install	-m	644	lsbatch/man1/lsfbatch.1			debian/openlava/opt/openlava-2.0/share/man/man1
	install	-m	644	lsf/man/man1/lsfintro.1			debian/openlava/opt/openlava-2.0/share/man/man1
	install	-m	644	lsf/man/man1/lshosts.1			debian/openlava/opt/openlava-2.0/share/man/man1
	install	-m	644	lsf/man/man1/lsid.1				debian/openlava/opt/openlava-2.0/share/man/man1
	install	-m	644	lsf/man/man1/lsinfo.1			debian/openlava/opt/openlava-2.0/share/man/man1
	install	-m	644	lsf/man/man1/lsload.1			debian/openlava/opt/openlava-2.0/share/man/man1
	install	-m	644	lsf/man/man1/lsloadadj.1		debian/openlava/opt/openlava-2.0/share/man/man1
	install	-m	644	lsf/man/man1/lsmon.1			debian/openlava/opt/openlava-2.0/share/man/man1
	install	-m	644	lsf/man/man1/lsplace.1			debian/openlava/opt/openlava-2.0/share/man/man1
	install	-m	644	lsf/man/man1/lsrcp.1			debian/openlava/opt/openlava-2.0/share/man/man1
	install	-m	644	lsf/man/man1/lstools.1			debian/openlava/opt/openlava-2.0/share/man/man1
	install	-m	644	lsbatch/man5/lsb.acct.5			debian/openlava/opt/openlava-2.0/share/man/man5
	install	-m	644	lsbatch/man5/lsb.events.5		debian/openlava/opt/openlava-2.0/share/man/man5
	install	-m	644	lsbatch/man5/lsb.hosts.5		debian/openlava/opt/openlava-2.0/share/man/man5
	install	-m	644	lsbatch/man5/lsb.params.5		debian/openlava/opt/openlava-2.0/share/man/man5
	install	-m	644	lsbatch/man5/lsb.queues.5		debian/openlava/opt/openlava-2.0/share/man/man5
	install	-m	644	lsbatch/man5/lsb.users.5		debian/openlava/opt/openlava-2.0/share/man/man5
	install	-m	644	lsf/man/man5/lim.acct.5			debian/openlava/opt/openlava-2.0/share/man/man5
	install	-m	644	lsf/man/man5/lsf.acct.5			debian/openlava/opt/openlava-2.0/share/man/man5
	install	-m	644	lsf/man/man5/lsf.cluster.5		debian/openlava/opt/openlava-2.0/share/man/man5
	install	-m	644	lsf/man/man5/lsf.conf.5			debian/openlava/opt/openlava-2.0/share/man/man5
	install	-m	644	lsf/man/man5/lsf.shared.5		debian/openlava/opt/openlava-2.0/share/man/man5
	install	-m	644	lsf/man/man5/res.acct.5			debian/openlava/opt/openlava-2.0/share/man/man5
	install	-m	644	lsbatch/man8/badmin.8			debian/openlava/opt/openlava-2.0/share/man/man8
	install	-m	644	lsbatch/man8/brun.8				debian/openlava/opt/openlava-2.0/share/man/man8
	install	-m	644	lsf/man/man8/eauth.8			debian/openlava/opt/openlava-2.0/share/man/man8
	install	-m	644	lsf/man/man8/eexec.8			debian/openlava/opt/openlava-2.0/share/man/man8
	install	-m	644	lsf/man/man8/esub.8				debian/openlava/opt/openlava-2.0/share/man/man8
	install	-m	644	lsf/man/man8/lim.8				debian/openlava/opt/openlava-2.0/share/man/man8
	install	-m	644	lsf/man/man8/lsadmin.8			debian/openlava/opt/openlava-2.0/share/man/man8
	install	-m	644	lsf/man/man8/lsfinstall.8		debian/openlava/opt/openlava-2.0/share/man/man8
	install	-m	644	lsbatch/man8/mbatchd.8			debian/openlava/opt/openlava-2.0/share/man/man8
	install	-m	644	lsf/man/man8/nios.8				debian/openlava/opt/openlava-2.0/share/man/man8
	install	-m	644	lsf/man/man8/pim.8				debian/openlava/opt/openlava-2.0/share/man/man8
	install	-m	644	lsf/man/man8/res.8				debian/openlava/opt/openlava-2.0/share/man/man8
	install	-m	644	lsbatch/man8/sbatchd.8			debian/openlava/opt/openlava-2.0/share/man/man8

	# etc
	install	-m	644	config/lsf.cluster.openlava		debian/openlava/opt/openlava-2.0/etc
	install	-m	644	config/lsf.conf					debian/openlava/opt/openlava-2.0/etc
	install	-m	644	config/lsf.task					debian/openlava/opt/openlava-2.0/etc
	install	-m	644	config/lsf.shared				debian/openlava/opt/openlava-2.0/etc
	install	-m	644	config/lsb.params				debian/openlava/opt/openlava-2.0/etc
	install	-m	644	config/lsb.queues				debian/openlava/opt/openlava-2.0/etc
	install	-m	644	config/lsb.hosts				debian/openlava/opt/openlava-2.0/etc
	install	-m	644	config/lsb.users				debian/openlava/opt/openlava-2.0/etc
	install	-m	644	config/openlava.setup			debian/openlava/opt/openlava-2.0/etc
	install	-m	755	config/openlava					debian/openlava/opt/openlava-2.0/etc
	install	-m	755	config/openlava.sh				debian/openlava/opt/openlava-2.0/etc
	install	-m	755	config/openlava.csh				debian/openlava/opt/openlava-2.0/etc

	# include
	install	-m	644	lsf/lsf.h						debian/openlava/opt/openlava-2.0/include
	install	-m	644	lsbatch/lsbatch.h				debian/openlava/opt/openlava-2.0/include

	# lib
	install -m 755 lsf/lib/liblsf.a             debian/openlava/opt/openlava-2.0/lib
	install -m 755 lsbatch/lib/liblsbatch.a     debian/openlava/opt/openlava-2.0/lib

	# add user/usergroup

	#install -d debian/openlava/home/openlava
	#chown -R openlava:openlava  debian/openlava/home/openlava
	#chgrp -R openlava debian/openlava/home/openlava

	#/usr/sbin/groupadd -f openlava
	#/usr/sbin/useradd -c "openlava Administrator" -g openlava -m -d debian/openlava/home/openlava openlava 2> /dev/null
	#chown -R openlava:openlava debian/openlava/opt/openlava-2.0/*
	#chgrp -R openlava debian/openlava/opt/openlava-2.0/*

	# profile
	install -d debian/openlava/etc/profile.d
	install -m 755 config/openlava.sh debian/openlava/etc/profile.d/openlava.sh
	install -m 755 config/openlava.csh debian/openlava/etc/profile.d/openlava.csh

	# init.d
	install -d debian/openlava/etc/init.d
	install -m 755 config/openlava debian/openlava/etc/init.d/openlava

	# openlava.service
	install -d debian/openlava/lib/systemd/system
	install -m 644 debian/openlava.service debian/openlava/lib/systemd/system/openlava.service

override_dh_auto_clean:
	$(MAKE) clean || true

