#!/usr/bin/make -f
# Copyright (C) 2021-2025 Bytedance Ltd. and/or its affiliates

clustername ?= $(shell echo $$volclavacluster)
ifeq ($(clustername),)
	clustername = volclava
endif

BHIST_SPEEDUP_VALUE := $(strip $(VOLC_BHIST_SPEEDUP))
VOLC_PREFIX_VALUE := $(strip $(VOLC_PREFIX))
ifeq ($(VOLC_PREFIX_VALUE),)
VOLC_PREFIX_VALUE := /opt/volclava-2.2
endif
ifeq ($(filter /%,$(VOLC_PREFIX_VALUE)),)
$(error VOLC_PREFIX must be an absolute path)
endif
ifeq ($(VOLC_PREFIX_VALUE),/)
$(error VOLC_PREFIX must not be the filesystem root)
endif
ifneq ($(words $(VOLC_PREFIX_VALUE)),1)
$(error VOLC_PREFIX must not contain whitespace)
endif

ifneq ($(filter Y y,$(BHIST_SPEEDUP_VALUE)),)
BHIST_SPEEDUP_ENABLED := 1
BHIST_SPEEDUP_CONFIGURE_FLAG := --enable-bhist-speedup=Y
else ifneq ($(filter N n,$(BHIST_SPEEDUP_VALUE)),)
BHIST_SPEEDUP_ENABLED := 0
BHIST_SPEEDUP_CONFIGURE_FLAG := --enable-bhist-speedup=N
else ifeq ($(BHIST_SPEEDUP_VALUE),)
BHIST_SPEEDUP_ENABLED := 0
BHIST_SPEEDUP_CONFIGURE_FLAG := --enable-bhist-speedup=N
else
$(error VOLC_BHIST_SPEEDUP should be Y, y, N or n)
endif

%:
	dh $@

override_dh_auto_configure:
	echo override_dh_auto_configure

override_dh_auto_build:
	./bootstrap.sh --prefix="$(VOLC_PREFIX_VALUE)" $(BHIST_SPEEDUP_CONFIGURE_FLAG)
	$(MAKE) -j$(nproc)

override_dh_auto_install:
	dh_auto_install

ifeq ($(BHIST_SPEEDUP_ENABLED),1)
	printf '%s\n' '$(VOLC_PREFIX_VALUE)/etc/lsb.hist' > debian/volclava.conffiles
else
	rm -f debian/volclava.conffiles
endif

	# Debian-specific service files are not part of the Autotools install.
	install -d debian/volclava/etc/init.d
	install -m 755 config/volclava debian/volclava/etc/init.d/volclava

	install -d debian/volclava/lib/systemd/system
	install -m 644 debian/volclava.service debian/volclava/lib/systemd/system/volclava.service

override_dh_auto_clean:
	$(MAKE) clean || true
	rm -f debian/volclava.conffiles
